@import "tailwindcss";

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web:wght@200;300;400;600;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;700;900&display=swap');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  
  .bg-fixed-parallax {
    background-image: url('./assets/background.png');
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .backface-hidden {
    backface-visibility: hidden;
  }
  
  /* .transform-style-preserve-3d {
    transform-style: preserve-3d;
  } */
  
  .rotate-y-180 {
    transform: rotateY(180deg);
  }

  @keyframes zoomFadeIn {
    from {
      transform: scale(1.5);
      opacity: 0;
    }
    to {
      transform: scale(1);
      opacity: 1;
    }
  }

  @keyframes fadeInOut {
    0%, 80% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }

  @keyframes slideInRight {
    from {
      opacity: 0;
      transform: translateX(-100px);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }

  .animate-zoomFadeIn {
    animation: zoomFadeIn 1.2s ease-out forwards;
  }

  .animate-fadeInOut {
    animation: fadeInOut 2s infinite;
  }

  .animate-slideInRight {
    animation: slideInRight 0.8s ease-out forwards;
    animation-timeline: view();
    animation-range: entry 0% cover 30%;
  }

}

/* src/index.css */
body {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
  /* Match your branding dark color to hide any potential gaps */
  background-color: rgb(22, 14, 14); 
  color: white;
  overflow-x: hidden;
}

/* Use this method for the parallax effect; it's more stable on mobile */
body::before {
  content: "";
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('./assets/background.png'); /* */
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  z-index: -1;
  will-change: transform;
}

html {
  scroll-behavior: smooth;
}